body {
  width: 100%;
  height: 50vh;
  background-color: #f0f8ff;
  font-family: sans-serif;
  font-size: 16px;
  max-width: 100vw;
}

.container {
  background-color: #fffff0;
  width: min-content;
  margin: 1em auto;
  padding: 0.5em 2em 2em 2em;
  border-radius: 10px;
  box-shadow: 0px 2px 7px #808080;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

#description {
  font-size: 20px;
}

form {
  width: 40vw;
  max-width: 1000px;
  min-width: 100px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 1.5rem 0;
  border-bottom: 1.7px solid #ff00ff;
}

label {
  display: block;
  margin: 0.4rem 0;
}

input {
  display: block;
}

input[type="submit"] {
  width: 30%;
  height: 3em;
  margin: 1em auto;
  display: block;
  font-size: 1em;
  min-width: 200px;
}

.inline {
  display: inline;
  width: unset;
  vertical-align: middle;
  margin: 0 0.3em 0 0;
}

input[type="text"] {
  width: 80%;
  border-radius: 1em;
}

input[type="number"] {
  width: 80%;
  border-radius: 1em;
}

input[type="email"] {
  width: 80%;
  border-radius: 1em;
}

legend {
  font-size: 18px;
  margin: 3em 0em 0em 0em;
}
